body {
	font-family: "Open Sans Condensed", sans-serif;
}

a {
	text-decoration: none;
}

a:visited{
	color: black;
}

a{
	color: black;
}

a:hover{
	font-weight: bold;
}




#logo{
	margin-top:2%;
	margin-left: 2%;
	display: inline-block;
	width: 8%;
	
}

.navigation_tabs{
	float: right;
	display: inline-block;
	font-size: 20px;
	margin-right: 100px;
	margin-top: 50px;

}


.navigation_tabs a{
	display: inline-block;
	padding-right: 50px;
}

.nav_bar{
	background-color: #FFF;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.introduction {
	font-size: 60px;
	margin-left: 15%;
	margin-top: 250px;
	font-family: "Josefin Slab";
}

.contact_icons{
	margin-left: 22%;
	margin-top: 100px;
}

.big_icon{
	display: inline-block;
	margin-left: -10%;
}

.icon{
	width: 35%;
	border-radius: 20px;
	transition: transform .2s;
}

.icon:hover{
	transform: scale(1.13) !important;
}


.dropdown{
	display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 100px;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-left: 1px solid black;
}

.dropdown-content a {
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}